
.form{
  width: 500px;
  margin: 10% auto;
  padding: 4%;
  border: 2px solid black;
  border-radius: 10px;
}

.submitButton{
  margin-top: 10%;
  margin-left: 40%;
}

.pet-card {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.food-entry {
  display: flex;
  flex-flow: column wrap;
  padding: 5%;
}


.food-form {
  margin: 40% 0;
}

.login {
  width: 80%;
}

.listContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 1%;
}

.summaryList{
  width: 33.33%;
  border: 1px solid black;
}

.summaryBtnContainer{
  margin-top: 5%;
}
