
.form{
  width: 40%;
  margin: 10% auto;
  padding: 4%;
  border: 2px solid black;
  border-radius: 10px;
}

.submitButton{
  margin-top: 10%;
  margin-left: 40%;
}


.pet-card {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.food-entry {
  display: flex;
  flex-flow: column wrap;
  padding: 5%;
}


.food-form {
  margin: 40% 0;
}

.login {
  width: 80%;
}

